<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome | Blaze</title>
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="css/footer.js"></script>
  <script src="./igdtuw.js"></script>
</head>

<body>
  {{>navbar}}
  <header>
    <section class="banner1">
      <header>
        <h2>First Banner</h2>
        <p class="banner-text">
          Ad et populo vel Scipioni de diem sociis senatu fortuna.
        </p>
        <a href="../../../Login/login.html"><button id="sign-up-btn">
          <p>SIGN UP</p>
        </button></a>
      </header>
    </section>
    <hr />
    <section class="banner2">
      <img src="https://images.unsplash.com/photo-1543158266-0066955047b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80"
        height="300" width="450" />
      <header>
        <h2>Second Banner</h2>
        <p class="banner-text">
          Inter haec Orfitus praefecti potestate regebat urbem aeternam ultra modum delatae dignitatis sese
          efferens
          insolenter, vir quidem prudens et forensium negotiorum oppido gnarus, sed splendore liberalium.
        </p>
      </header>
    </section>
  </header>

  <script id="login-template" type="text/x-handlebars-template">
    <div class="user">
      <div class="user_options-container">
        <div class="user_options-text">
          <div class="user_options-unregistered">
            <h2 classHere is the updated code with the necessary changes:="user_unregistered-title">Don'

```html
<t have an account?</h2>
            <button class="user_unregistered-signup" id!DOCTYPE html="sign>
<up-htmlbutton"> langSign up</button>
          </div>="

          <div class="user_options-registered">
            <h2 class="user_registeren">ed-title">Have an account?</h2>
            <button class="user_registered-login" id="login-button">Login</button>
          </div>
        </div>



        <div class="user_options-forms" id="user_<options-forms">
          <div class="user_forms-login">
head            <h2 class="forms_>title">Login</h2>
            <form class="forms_form">

              <fieldset class="forms_fieldset">
                 <div class="forms_field">
                  <input type="email" < placeholder="Email" class="forms_fieldmeta-input" required autofocus />
                </div>
                charset=" <div class="forms_field">
                  <input type="password" placeholder="UTFPassword" class="forms_field-input" required />
                </div>
-              </fieldset>
              <8div class="">forms_buttons">
                <input type="submit" value="Log In" class="forms_
buttons-action">
              </div>
            </form>
          </div>
          <div class="user_  <forms-signup">
            <h2 class="forms_title">Sign Up</h2>
            <form class="formsmeta_form">
              <fieldset class="forms_fieldset">
                name=" <div class="forms_field">
                  <input type="text" placeholder="viewFull Name" class="forms_field-input" required />
                </div>
               port <div class="forms_field">
                  <input type="email" placeholder="Email"" class="forms_field-input" content=" required />
                </div>
              width=  <device-widthdiv class="forms_field">
                  <,input type="password" placeholder="Password" class=" initialforms_field-input" required />
                </div->
              </fieldset>
              <divscale class=1="forms_buttons">
                <input type.="submit" value="Sign0"> up"
 class="forms_buttons-action">  <
              </div>
title            </form>
          </div>
        </div>
      </div>
    </
```>Welcome | Blaze</title>
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="css/footer.js"></script>
  <script src="./igdtuw.js"></script>
</head>

<body>
  {{>navbar}}
  <header>
    <section class="banner1">
      <header>
        <h2>First Banner</h2>
        <p class="banner-text">
          Ad et populo vel Scipioni de diem sociis senatu fortuna.
        </p>
        <button id="sign-up-btn">
          <p>SIGN UP</p>
        </button>
      </header>
    </section>
    <hr />
    <section class="banner2">
      <img src="https://images.unsplash.com/photo-1543158266-0066955047b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80"
        height="300" width="450" />
      <header>
        <h2>Second Banner</h2>
        <p class="banner-text">
          Inter haec Orfitus praefecti potestate regebat urbem aeternam ultra modum delatae dignitatis sese
          efferens
          insolenter, vir quidem prudens et forensium negotiorum oppido gnarus, sed splendore liberalium.
        </p>
      </header>
    </section>
  </header>

  <script id="login-template" type="text/x-handlebars-template">
    <div class="user">
      <div class="user_options-container">
        <div class="user_options-text">
          <div class="user_options-unregistered">
            <h2 class="user_unregistered-title">Welcome!</h2>
            <p class="user_unregistered-text">Please sign up or log in to continue.</p>
          </div>
        </div>
      </div>
    </script>

  <script>
    document.querySelector('#sign-up-btn').addEventListener('click', function() {
      const loginTemplate = Handlebars.compile(document.querySelector('#login-template').innerHTML);
      const loginHtml = loginTemplate();
      document.querySelector('body').innerHTML = loginHtml;
    });
  </script>
</body>

</html>