@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #F0F2F5; */
    /* Light grey background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-container {
    width: 80%;
    max-width: 600px;
}

.accordion-item {
    background-color: #FFFFFF;
    /* White background for items */
    border: 1px solid #E0E0E0;
    /* Light border */
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Softer shadow */
}

.accordion-header {
    background-color: #402def;
    /* Soft purple */
    color: #FFFFFF;
    /* White text */
    padding: 15px;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
    margin-left: 0;
}

.accordion-header:hover {
    background-color: #5753C9;
    /* Darker shade of purple */
}

.accordion-content {
    background-color: #FAFAFA;
    /* Very light grey for content */
    overflow: hidden;
    padding: 0 15px;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    margin: 15px 0;
    line-height: 1.5;
}

.icon {
    transition: transform 0.3s ease;
}

.active .icon {
    transform: rotate(45deg);
}