* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-body {
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.397);
  width: 100vw;
}

.social-icons-footer {
  display: flex;
}

.social-icons-footer ul {

  display: flex;
}

a:link {
  color: #000000;
}

a:visited {
  color: #8e5555;
}

.social-icons-footer ul li {
  position: relative;
  display: block;
  color: #f18f8f;
  font-size: 30px;
  height: 55px;
  width: 55px;
  background: #a8f0f2;
  /* background-color: transparent; */
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}

.social-icons-footer ul li:before {
  position: absolute;
  /* content: ""; */
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}

.social-icons-footer ul li:nth-child(1):before {
  background: #4267b2;
}

.social-icons-footer ul li:nth-child(2):before {
  background: #1da1f2;
}

.social-icons-footer ul li:nth-child(3):before {
  background: #e1306c;
}

.social-icons-footer ul li:nth-child(4):before {
  background: #2867b2;
}

.social-icons-footer ul li:nth-child(5):before {
  background: #ff0000;
}

.social-icons-footer ul li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
}

.social-icons-footer ul li:nth-child(1):hover:before {
  box-shadow: 0 0 15px #4267b2;
}

.social-icons-footer ul li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #1da1f2;
}

.social-icons-footer ul li:nth-child(3):hover:before {
  box-shadow: 0 0 15px #e1306c;
}

.social-icons-footer ul li:nth-child(4):hover:before {
  box-shadow: 0 0 15px #2867b2;
}

.social-icons-footer ul li:nth-child(5):hover:before {
  box-shadow: 0 0 15px #ff0000;
}

.social-icons-footer ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}

.social-icons-footer ul li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}

.social-icons-footer ul li:nth-child(3):hover {
  color: #e23670;
  box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}

.social-icons-footer ul li:nth-child(4):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867b2;
  text-shadow: 0 0 15px #2867b2;
}

.social-icons-footer ul li:nth-child(5):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}


@media (max-width: 768px) {
  .social-icons-footer ul li {
    font-size: 24px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    margin: 0 10px;
  }


  .social-icons-footer ul li a:active {
    color: inherit;
  }

  .social-icons-footer ul li:nth-child(1) a:active {
    color: #456cba;
    box-shadow: 0 0 15px #4267b2;
    text-shadow: 0 0 15px #4267b2;
  }

  .social-icons-footer ul li:nth-child(2) a:active {
    color: #26a4f2;
    box-shadow: 0 0 15px #1da1f2;
    text-shadow: 0 0 15px #1da1f2;
  }

  .social-icons-footer ul li:nth-child(3) a:active {
    color: #e23670;
    box-shadow: 0 0 15px #e1306c;
    text-shadow: 0 0 15px #e1306c;
  }

  .social-icons-footer ul li:nth-child(4) a:active {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
  }

  .social-icons-footer ul li:nth-child(5) a:active {
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
  }

  .copyright {
    font-size: 13px;
    color: black;
  }
}