<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Blaze</title>
	<link rel="icon" type="image/x-icon" href="Assets/favicon.ico">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Navbar -->
    <nav style="top: 0px;">
        <!-- <a href="#">Logo</a> -->
        <a href="/" id="logo-nav"> <img src="Assets/Blaze-no-bg.png"><strong
                style="margin-left: 5px; font-size: 15pt; margin-top: 6px; color: #e8fefe">BLAZE</strong></a>
        <a href="/suggestion" style="color: #e8fefe;">Request an event</a>
        <a href="/colleges" style="color: #e8fefe;"> Colleges</a>
        <a href="/regsoc" style="color: #e8fefe;"> Register Your Society!</a>
        <a href="/login" style="color: #e8fefe;"> Login</a>
    </nav>

    <!-- About -->
    <section class="max-w-screen-xl mx-auto py-20 px-8 lg:px-10">
        <h2 class="text-4xl xl:text-5xl capitalize text-center text-indigo-900 font-bold" style="margin-top: 10px;">our
            team</h2>
        <hr class="mx-auto w-12 h-1 outline-0 border-0 bg-green-300 block mt-4 mb-6">
        <p class="text-center text-xl text-gray-800">Our team consists only of the best talents</p>

        <div class="flex flex-col gap-6 mt-16">
            <div class="flex flex-col md:flex-row gap-6">
                <div class="w-full lg:w-1/4 rounded-3xl overflow-hidden">
                    <img src="Assets/About/Rishita.jpg"
                        alt="Rishita Makde" class="w-full h-full object-cover aspect-video lg:aspect-square">
                </div>
                <div class="w-full lg:w-9/12 bg-red-100 rounded-3xl flex flex-col justify-center p-8 lg:p-14">
                    <h3 class="text-2xl capitalize text-indigo-900 font-semibold">Rishita Makde</h3>
                    <span
                        class="inline-block capitalize text-xl text-indigo-900 font-light mt-1.5 mb-5">Backend/Sophomore</span>
                    <p class="text-indigo-900 opacity-75 leading-normal">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quam saepe sint expedita suscipit nemo nihil cupiditate culpa temporibus,
                        facere nisi.</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row-reverse gap-6">
                <div class="w-full lg:w-1/4 rounded-3xl overflow-hidden">
                    <img src="Assets/About/Harsheen.jpg"
                        alt="Harsheen Kaur Kohli" class="w-full h-full object-cover aspect-video lg:aspect-square">
                </div>
                <div class="w-full lg:w-9/12 bg-blue-100 rounded-3xl flex flex-col justify-center p-8 lg:p-14">
                    <h3 class="text-2xl capitalize text-indigo-900 font-semibold">Harsheen kaur Kohli</h3>
                    <span
                        class="inline-block capitalize text-xl text-indigo-900 font-light mt-1.5 mb-5">Frontend/Sophomore</span>
                    <p class="text-indigo-900 opacity-75 leading-normal">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quam saepe sint expedita suscipit nemo nihil cupiditate culpa temporibus,
                        facere nisi.</p>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="jsfile/footer.js"></script>
    <script src="jsfile/igdtuw.js"></script>

</body>

</html>