<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | Blaze</title>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="css/header.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href="css/hero.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="css/footer.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
	<!-- Navbar -->
	<nav style="top: 0px;">
		<!-- <a href="#">Logo</a> -->
		<a href="/home" id="logo-nav" style="color: #e8fefe;"> <img src="Assets/Blaze-no-bg.png" ><strong
				style="margin-left: 5px; font-size: 15pt; margin-top: 6px;" style="color: #e8fefe;">BLAZE</strong></a>
		<a href="/colleges" style="color: #e8fefe;"> Colleges</a>
		<a href="#" style="color: #e8fefe;"> Register Your Society!</a>
		<a href="/" style="color: #e8fefe;"> Log Out</a>
	</nav>

	<!-- Hero -->
	<section style="margin-top: 60px;">
		<div class="bg"
			style="background-image: url('https://raw.githubusercontent.com/frontend-joe/es6-parallax/main/parallax-6/1.jpg');">
		</div>
		<h1>Parallax</h1>
	</section>
	<section>
		<div class="bg"
			style="background-image: url('https://raw.githubusercontent.com/frontend-joe/es6-parallax/main/parallax-6/2.jpg')">
		</div>
		<h1>So smooth</h1>
	</section>
	<section>
		<div class="bg"
			style="background-image: url('https://raw.githubusercontent.com/frontend-joe/es6-parallax/main/parallax-6/3.jpg')">
		</div>
		<h1>Nice, right?</h1>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
		integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
		integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Footer -->
	<hr style="margin-top: 10px; border-width: 1px; margin-left: 5%; margin-right: 5%; border-color: rgb(0, 0, 40);">
	<div class="footer-body" style="width: 95vw;">
		<footer>

			<div class="social-icons-footer">
				<ul>
					<li>
						<a href="https://www.facebook.com/igdtuwinnerve/"><i class="fab fa-facebook"></i></a>
					</li>
					<li>
						<a href="https://twitter.com/Innerveigdtuw"><i class="fab fa-twitter fa-0.5x"></i></a>
					</li>
					<li>
						<a href="https://www.instagram.com"><i class="fab fa-instagram fa-0.5x"></i></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/innerve/mycompany/"><i class="fab fa-linkedin-in fa-0.5x"></i></a>
					</li>
					<li>
						<a href="https://www.youtube.com/@InnerveIGDTUW"><i class="fab fa-youtube fa-0.5x"></i></a>
					</li>
				</ul>
			</div>
			<p class="copyright">© Blaze 2024</p>
		</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="jsfile/hero.js"></script>
	<script src="jsfile/footer.js"></script>

</body>

</html>