<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/register-soc.css">
</head>

<body>

    <!-- Navbar -->
    <nav style="top: 0px;">
        <!-- <a href="#">Logo</a> -->
        <a href="/home" id="logo-nav" style="color: #e8fefe;"> <img src="../Assets/Blaze-no-bg.png"><strong
                style="margin-left: 5px; font-size: 15pt; margin-top: 6px;" style="color: #e8fefe;">BLAZE</strong></a>
        <a href="/suggestion">Request an event</a>
        <a href="#" style="color: #e8fefe;"> Register Your Society!</a>
        <a href="/login" style="color: #e8fefe;"> Login</a>
    </nav>

    <!-- Connect Form -->
    <div class="container">
        <div class="form-container">
            <div class="left-container">
                <div class="left-inner-container">
                    <h2 style="line-height: normal;">Register Your Society</h2>
                    <p style="margin-top: 0;">Become a part of the BLAZE community, register yourself and enhance your
                        society engagement and participation!</p>
                    <p style="margin-top: 0;">Feel free to send us a message in the registration form and we will
                        connect with you!</p>
                </div>
            </div>
            <div class="right-container">
                <div class="right-inner-container">
                    <form action="/regsoc" method="POST">
                        <h2 class="lg-view">Let's Connect</h2>
                        <h2 class="sm-view">Let's Connect</h2>
                        <p class="req"> Required* </p>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <input type="text" name="president" placeholder="Name (of the President)*" autocomplete="name"
                            autocapitalize="words" required />
                        <input type="email" name="email" placeholder="Email (of the President)*" autocomplete="email" required />
                        <input type="email" name="emailsoc" placeholder="Email (of the Society)*" required />
                        <input type="text" name="college" placeholder="College" required />
                        <input type="phone" name="phone" placeholder="Phone" autocomplete="mobile" />
                        <input type="text" name="name" placeholder="Society Name" required />
                        <textarea rows="4" name="message" placeholder="Message"></textarea>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>