<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IGDTUW | Blaze</title>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="css/igdtuw.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href="css/footer.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<link rel="stylesheet" href="css/header.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700" rel="stylesheet">
	<link rel="stylesheet" href="css/timeline.css">
</head>

<body>
	<!-- Navbar -->
	<nav style="top: 0px;">
		<!-- <a href="#">Logo</a> -->
		<a href="/index" id="logo-nav"> <img src="Assets/Blaze-no-bg.png"><strong
				style="margin-left: 5px; font-size: 15pt; margin-top: 6px; color: #e8fefe">BLAZE</strong></a>
		<a href="../Colleges/colleges.html" style="color: #e8fefe;"> Colleges</a>
		<a href="#" style="color: #e8fefe;"> Register Your Society!</a>
		<a href="/index" style="color: #e8fefe;"> Log Out</a>
	</nav>

	<!-- Societies list -->
	<div class="heading-container" style="padding-top: 60px; align-items: center;">
		<h1 class="text" style="margin-top: 20px;"> IGDTUW <span>SOCIETIES</span></h1>
	</div>

	<div class="cards-list" style="margin-top: 60px;">

		<div class="card 1">
			<div class="card_image"> <img src="Assets/Societies/gdsc-igdtuw.jpeg" /> </div>
		</div>

		<div class="card 2">
			<div class="card_image">
				<img src="Assets/Societies/rotary-ig.jpeg" />
			</div>
		</div>

		<div class="card 3">
			<div class="card_image">
				<img src="Assets/Societies/finivesta.jpeg" />
			</div>
		</div>

		<div class="card 4">
			<div class="card_image">
				<img src="Assets/Societies/ieee-ig.jpeg" />
			</div>
		</div>

		<div class="card 5">
			<div class="card_image">
				<img src="Assets/Societies/enactus-ig.png" />
			</div>
		</div>

		<div class="card 6">
			<div class="card_image">
				<img src="Assets/Societies/tarannum.jpeg" />
			</div>
		</div>

		<div class="card 7">
			<div class="card_image">
				<img src="Assets/Societies/leanin-ig.jpeg" />
			</div>
		</div>

		<div class="card 8">
			<div class="card_image">
				<img src="Assets/Societies/avira.jpeg" />
			</div>
		</div>

		<div class="card 9">
			<div class="card_image">
				<img src="Assets/Societies/zena.jpeg" />
			</div>
		</div>

		<div class="card 10">
			<div class="card_image">
				<img src="Assets/Societies/aws-ig.jpeg" />
			</div>
		</div>

		<div class="card 11">
			<div class="card_image">
				<img src="Assets/Societies/minerva.jpeg" />
			</div>
		</div>

		<div class="card 12">
			<div class="card_image">
				<img src="Assets/Societies/msc-ig.jpeg" />
			</div>
		</div>

		<div class="card 13">
			<div class="card_image">
				<img src="Assets/Societies/acm-ig.jpeg" />
			</div>
		</div>

		<div class="card 14">
			<div class="card_image">
				<img src="Assets/Societies/bhav.jpeg" />
			</div>
		</div>

		<div class="card 15">
			<div class="card_image">
				<img src="Assets/Societies/prekshya.jpeg" />
			</div>
		</div>

		<div class="card 16">
			<div class="card_image">
				<img src="Assets/Societies/soch.jpeg" />
			</div>
		</div>

		<div class="card 17">
			<div class="card_image">
				<img src="Assets/Societies/protege.jpeg" />
			</div>
		</div>

		<div class="card 18">
			<div class="card_image">
				<img src="Assets/Societies/hypnotics.png" />
			</div>
		</div>

		<div class="card 19">
			<div class="card_image">
				<img src="Assets/Societies/rahnuma.jpeg" />
			</div>
		</div>

		<div class="card 20">
			<div class="card_image">
				<img src="Assets/Societies/aiclub-ig.jpeg" />
			</div>
		</div>

		<div class="card 21">
			<div class="card_image">
				<img src="Assets/Societies/cb-ig.jpeg" />
			</div>
		</div>
	</div>

	<!-- Timeline -->
	<hr style="margin-top: 10px; border-width: 1px; margin-left: 5%; margin-right: 5%; border-color: rgb(0, 0, 40);">
	<div class="center"><h1> TIMELINE</h1></div>

		<div class="timeline-container-desktop">
			<h3 class="h3-width"> DD-MM-YYYY</h3>
			<img src="Assets/Societies/time-line.png" class="time-line">
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">Devcation'24</h3>
					<h4>GDSC IGDTUW</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
		</div>

		<div class="timeline-container-mobile">
			<h3 class="h3-width"> DD-MM-YYYY</h3>
			<hr style="margin-top : 10px; margin-bottom: 10px; border-color: black; min-width: 200px;">
			<div class="cards">
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">Devcation'24</h3>
					<h4>GDSC IGDTUW</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			</div>
		</div>

		<div class="timeline-container-desktop">
			<h3 class="h3-width"> DD-MM-YYYY</h3>
			<img src="/Assets/Societies/time-line.png" class="time-line">
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<div class="timeline-card hide-div">
				<img src="Assets/Societies/devcation.webp" class="card-img">
				<h3 class="event-name">ABC</h3>
				<h4>Conducting Society</h4>
				<h4>Venue, timings</h4>
			</div>
		</div>

		<div class="timeline-container-mobile">
			<h3 class="h3-width"> DD-MM-YYYY</h3>
			<hr style="margin-top : 10px; margin-bottom: 10px; border-color: black; min-width: 200px;">
			<div class="cards">
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">Devcation'24</h3>
					<h4>GDSC IGDTUW</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			<a href="#">
				<div class="timeline-card">
					<img src="Assets/Societies/devcation.webp" class="card-img">
					<h3 class="event-name">ABC</h3>
					<h4>Conducting Society</h4>
					<h4>Venue, timings</h4>
				</div>
			</a>
			</div>
		</div>

		<!-- Footer -->
		<hr style="margin-top: 10px; border-width: 1px; margin-left: 5%; margin-right: 5%; border-color: rgb(0, 0, 40);">
		<div class="footer-body" style="width: 95vw; margin-top: 5px;">
			<footer>
				<div class="social-icons-footer">
					<ul>
						<li>
							<a href="https://www.facebook.com/igdtuwinnerve/"><i class="fab fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/Innerveigdtuw"><i class="fab fa-twitter fa-0.5x"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com"><i class="fab fa-instagram fa-0.5x"></i></a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/innerve/mycompany/"><i
									class="fab fa-linkedin-in fa-0.5x"></i></a>
						</li>
						<li>
							<a href="https://www.youtube.com/@InnerveIGDTUW"><i class="fab fa-youtube fa-0.5x"></i></a>
						</li>
					</ul>
				</div>
				<p class="copyright" style="color: black;">© Blaze 2024</p>
			</footer>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="jsfile/igdtuw.js"></script>
		<script src="jsfile/footer.js"></script>

</body>

</html>