<nav style="top: 0px;">
    <!-- <a href="#">Logo</a> -->
    <a href="../templates/views/index" id="logo-nav"> <img src="../../../Assets/Blaze-no-bg.png"><strong
            style="margin-left: 5px; font-size: 15pt; margin-top: 6px; color: #e8fefe">BLAZE</strong></a>
    <a href="../../../Colleges/colleges.html" style="color: #e8fefe;"> Colleges</a>
    <a href="#" style="color: #e8fefe;"> Register Your Society!</a>
    <a href="../templates/views/Login" style="color: #e8fefe;"> Login</a>
</nav>