<div class="footer-body" style="width: 95vw;">
        <footer>
            <div class="social-icons-footer">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/igdtuwinnerve/"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Innerveigdtuw"><i class="fab fa-twitter fa-0.5x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com"><i class="fab fa-instagram fa-0.5x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/innerve/mycompany/"><i
                                class="fab fa-linkedin-in fa-0.5x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@InnerveIGDTUW"><i class="fab fa-youtube fa-0.5x"></i></a>
                    </li>
                </ul>
            </div>
            <p class="copyright">© Blaze 2024</p>
        </footer>
    </div>